* {
    box-sizing: border-box;
  }

  
  body {
    font-family: "Courier New", Courier, monospace;
    /* Add flex to body to get full screen */
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  /* Style the header */
  header {
    background-color: #9FDBE3;
    padding: 5px;
    text-align: left;
    font-size: 35px;
    color: #000;

  }

  .header-contain{
    float: left;
    color: #121C1C;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
    height: 100%;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #CCCCFF;
    padding: 20px;
    overflow-y: auto; 
  }

  .sketch-nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #C9DEF5;
    padding: 20px;
    overflow-y: auto; 
  }

  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #D5DFE5;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: #9FDBE3;
    padding: 5px;
    text-align: center;
    color: #000;
    height: 100%;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  /*from w3schools */
  /* Container holding the image and the text */
.container {
  position: relative;
  text-align: left;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
